body{
    background-color: #add8e6;
}

.img-cabeçalho{
height: 370px;
}

.cabeçalho{
    display: flex;
    justify-content: space-between;
}    

.item-cabeçalho{
    display: inline-block;
    margin: 35px;
    font-size: 25px;

}

.principal{
    background-image: linear-gradient(#bedce5, #b9d3db);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-principal{
    width: 300px;
}
.div-principal{
    width: 35%;
}
.paragrafo{
    text-align: center;
}